include README.rst
include CHANGES.rst
include requirements.txt
include message-extraction.ini
recursive-include ps_crud/locale    *
recursive-include ps_crud/static    *
recursive-include ps_crud/templates *.jinja2
